# HW 3 Fairness and Bias Analysis in Machine Learning
- Can "Run All Cells"

In [6]:
import pandas as pd

In [7]:
BASE = "/Users/brinkley97/Documents/development/"
CLASS_PATH = "classes/csci_535_multimodal_probabilistic_learning/"
FBA_DATASET_PATH = "datasets/"
FBA_csv = BASE + CLASS_PATH + FBA_DATASET_PATH + "data.csv"
FBA_csv

'/Users/brinkley97/Documents/development/classes/csci_535_multimodal_probabilistic_learning/datasets/data.csv'

In [8]:
def load_data(file):
    original_data = pd.read_csv(file)
    # original_data = pd.DataFrame(file)
    copy_of_data = original_data.copy()
    return copy_of_data

In [9]:
dataset_paths_copy = load_data(FBA_csv)
dataset_paths_copy

,Filename,Image #,Gender,Race,Confident,Egotistic,Intelligent,Kind,Responsible,Trustworthy,Aggressive,Caring,Emotional,Friendly,Sociable,Qualified
0,Google_1_Danielle Goble_5_oval.jpg,1,1,1,5.67,3.67,5.60,5.00,5.80,5.33,4.80,4.67,3.67,4.33,4.67,0
1,Google_1_Phillip Owensby_9_oval.jpg,2,0,1,6.53,2.20,6.60,7.00,7.47,6.73,3.13,6.93,5.80,6.73,6.60,1
2,Google_1_Douglas Ziegler_3_oval.jpg,3,1,1,6.07,3.60,6.47,6.47,6.67,6.40,2.40,6.07,5.14,6.67,6.67,0
3,Google_1_Donald Sauls_11_oval.jpg,4,1,2,4.80,4.60,4.47,3.80,4.27,3.87,5.80,3.53,2.80,2.93,3.27,0
4,Google_1_Eric Harman_5_oval.jpg,5,1,6,6.67,5.40,6.33,4.87,5.87,4.67,4.27,4.07,4.80,5.20,5.33,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2217,Google_1_Alison Summerville_3_oval.jpg,2218,0,5,6.40,3.73,6.27,5.53,5.87,6.07,3.87,6.13,4.33,5.53,5.27,0
2218,Google_1_Douglas Yun_3_oval.jpg,2219,0,3,5.47,5.73,5.67,4.40,5.67,4.07,5.33,4.60,4.67,4.40,4.13,0
2219,Google_1_Wayne Barrios_9_oval.jpg,2220,1,1,6.67,4.20,5.60,5.93,5.67,5.53,3.80,5.87,4.80,6.53,6.87,1
2220,Google_1_Jennie Kissinger_15_oval.jpg,2221,0,1,6.27,3.93,6.07,5.93,5.60,6.60,3.80,5.53,5.07,6.67,6.13,1
2221,Google_1_Eileen Burd_7_oval.jpg,2222,0,1,5.86,4.29,5.64,6.14,5.71,6.29,3.57,6.00,4.93,6.64,5.43,0

In [18]:
dataset_paths_copy.loc[0:, 'Race'].unique()

array([1, 2, 6, 5, 3, 4, 0])

In [21]:
filt_race_0 = (dataset_paths_copy['Race'] == 0)
filt_race_0

0       False
1       False
2       False
3       False
4       False
        ...
2217    False
2218    False
2219    False
2220    False
2221    False
Name: Race, Length: 2222, dtype: bool

In [23]:
r0 = dataset_paths_copy.loc[filt_race_0]
r0

,Filename,Image #,Gender,Race,Confident,Egotistic,Intelligent,Kind,Responsible,Trustworthy,Aggressive,Caring,Emotional,Friendly,Sociable,Qualified
342,Google_1_Clarence Morehouse_8_oval.jpg,343,1,0,6.67,2.93,6.33,7.13,6.53,6.73,4.80,5.33,4.67,5.73,5.73,0
1637,Google_1_Steven Mahan_1_oval.jpg,1638,1,0,6.53,4.13,5.53,6.20,6.73,6.40,3.93,6.07,5.40,6.67,6.27,0

In [24]:
filt_race_1 = (dataset_paths_copy['Race'] == 1)
filt_race_1

0        True
1        True
2        True
3       False
4       False
        ...
2217    False
2218    False
2219     True
2220     True
2221     True
Name: Race, Length: 2222, dtype: bool

In [25]:
r1 = dataset_paths_copy.loc[filt_race_1]
r1

,Filename,Image #,Gender,Race,Confident,Egotistic,Intelligent,Kind,Responsible,Trustworthy,Aggressive,Caring,Emotional,Friendly,Sociable,Qualified
0,Google_1_Danielle Goble_5_oval.jpg,1,1,1,5.67,3.67,5.60,5.00,5.80,5.33,4.80,4.67,3.67,4.33,4.67,0
1,Google_1_Phillip Owensby_9_oval.jpg,2,0,1,6.53,2.20,6.60,7.00,7.47,6.73,3.13,6.93,5.80,6.73,6.60,1
2,Google_1_Douglas Ziegler_3_oval.jpg,3,1,1,6.07,3.60,6.47,6.47,6.67,6.40,2.40,6.07,5.14,6.67,6.67,0
5,Google_1_Peter Grigsby_13_oval.jpg,6,0,1,6.50,2.36,6.00,6.64,6.36,6.86,2.14,6.21,5.64,6.43,6.50,0
6,Google_1_Nathan Beauregard_3_oval.jpg,7,1,1,6.20,2.27,5.13,6.60,5.87,6.33,2.87,5.93,5.20,7.07,6.07,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2215,Google_1_Kimberly Mccown_5_oval.jpg,2216,0,1,5.87,4.47,5.67,5.67,5.80,5.53,2.73,6.07,5.93,5.93,6.27,0
2216,Google_1_Manuel Cleveland_19_oval.jpg,2217,1,1,5.20,3.33,6.27,6.60,5.67,5.93,3.53,5.00,4.47,5.73,5.60,0
2219,Google_1_Wayne Barrios_9_oval.jpg,2220,1,1,6.67,4.20,5.60,5.93,5.67,5.53,3.80,5.87,4.80,6.53,6.87,1
2220,Google_1_Jennie Kissinger_15_oval.jpg,2221,0,1,6.27,3.93,6.07,5.93,5.60,6.60,3.80,5.53,5.07,6.67,6.13,1
2221,Google_1_Eileen Burd_7_oval.jpg,2222,0,1,5.86,4.29,5.64,6.14,5.71,6.29,3.57,6.00,4.93,6.64,5.43,0